@import "tailwindcss";

.menuproducts-container__card {
    width: 176px;
    height: 225px; /* 214 */
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 8px;
}

.card__placeforimg {
    background-color: #E5E7EB;
    border-radius: 12px;
    width: 160px;
    height: 155px;
}

.card__description {
    width: 160px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.card__name {
    font-size: 16px;

}

.card__plus-btn {
    background-color: #364C84;
    border-radius: 20px;
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.card__plus-img {
    width: 17px;
    height: 17px;
    margin: auto;
}

.card__kol-panel {
    width: 71px;
    height: 29px;
    display: flex;
    background-color: #364C84;
    color: #FFFFFF;
    border-radius: 22.58px;
}

.card__count {
    margin: auto;
}

.card__plus-minus--btn {
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 22.58px;
    cursor: pointer;
}

.card__plus-minus--img {
    margin: auto;
    width: 10px;
    height: 10px;
}