.menu-categories__btn {
    flex: 0 0 auto;
    width: auto;
    min-width: 99px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0 15px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.menu-categories__btn.active {
    background-color: #364C84;
    color: #FFFFFF;
    font-weight: bold;
}

.menu-categories__name {
    font-size: 14px;
    padding: auto;
}